/* CustomCalendar.css */
.custom-calendar {
  max-width: 250px; /* Adjusted for small screens */
  margin: 0 auto;
  padding: 20px;
  background-color: #D2DAF3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ensure the calendar uses full width within its container */
.react-calendar {
  width: 100%;
  background-color: #D2DAF3;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

/* Style for individual tiles */
.react-calendar__tile {
  max-width: 100%;
  padding: 10px;
  background: none;
  text-align: center;
}

/* Hover and focus effects for tiles */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: black;
  color: white;
  border-radius: 10px;
}

/* Transition for tile hover effect */
.custom-calendar .react-calendar__tile {
  transition: background-color 0.3s, color 0.3s;
}

.custom-calendar .react-calendar__tile:hover,
.custom-calendar .react-calendar__tile:active,
.custom-calendar .react-calendar__tile:focus {
  background-color: black;
  color: white;
}

/* Navigation buttons hover effect */
.custom-calendar .react-calendar__navigation button {
  transition: background-color 0.3s, color 0.3s;
}

.custom-calendar .react-calendar__navigation button:hover,
.custom-calendar .react-calendar__navigation button:active,
.custom-calendar .react-calendar__navigation button:focus {
  background-color: black;
  color: white;
}

/* Responsive styles */
@media (max-width: 600px) {
  .custom-calendar {
      max-width: 90%; /* Adjust to fit on smaller screens */
      padding: 10px; /* Reduce padding */
  }

  .react-calendar {
      font-size: 0.8rem; /* Smaller font size for readability */
  }

  .react-calendar__tile {
      padding: 8px; /* Adjust padding */
  }
}
