.profilePage {
  margin-left: 100px;
}
@media screen and (max-width: 886px) {
  .profilePage {
    margin-left: 50px;
  }
}
@media screen and (max-width: 498px) {
  .profilePage {
    margin-left: 20px;
  }
}
.profilePage h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}
.profilePage form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profilePage form .formItem {
  display: flex;
  flex-direction: column;
}
.profilePage form .formItem label {
  font-size: 14px;
  margin-bottom: 5px;
}
.profilePage form .formItem input {
  color: #8C94A3;
  font-size: 16px;
  padding: 10px;
  border: none;
}
.profilePage form .formItem .buttons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 464px) {
  .profilePage form .formItem .buttons {
    flex-direction: column;
  }
}
.profilePage form .formItem .buttons button {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
}
.profilePage form .formItem .buttons .save {
  color: white;
  background-color: black;
}
.profilePage form .formItem .buttons .cancel {
  color: black;
  background-color: white;
  padding: 10px 40px;
}
.profilePage .mynewrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.profilePage .mynewrapper .accountSetting {
  background-color: #E1D3F8;
  display: flex;
}
@media screen and (max-width: 796px) {
  .profilePage .mynewrapper .accountSetting {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
.profilePage .mynewrapper .accountSetting .avatar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  border: 1px solid #E9EAF0;
}
.profilePage .mynewrapper .accountSetting .avatar img {
  height: 280px;
  width: 280px;
}
.profilePage .mynewrapper .accountSetting .avatar p {
  color: #6E7485;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 200;
}
.profilePage .mynewrapper .accountSetting .accountForm {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.profilePage .mynewrapper .accountSetting .accountForm .accountInfo {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 1111px) {
  .profilePage .mynewrapper {
    width: 90%;
  }
}
@media screen and (max-width: 837px) {
  .profilePage .mynewrapper {
    width: 95%;
  }
}
.profilePage .bottom {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  overflow: hidden;
}
.profilePage .bottom .mywrapper {
  display: flex;
  justify-content: space-between;
}
.profilePage .bottom .mywrapper .changePassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #A7E5F2;
  padding: 10px 40px;
  width: 50%;
}
@media screen and (max-width: 943px) {
  .profilePage .bottom .mywrapper .changePassword {
    width: 60%;
    padding: 20px 40px;
  }
}
@media screen and (max-width: 683px) {
  .profilePage .bottom .mywrapper .changePassword {
    width: 80%;
    margin: auto;
  }
}
.profilePage .bottom .mywrapper .changePassword form .buttons {
  gap: 40px;
}
.profilePage .bottom .mywrapper .imgContainer {
  margin-right: 5px;
}
.profilePage .bottom .mywrapper .imgContainer img {
  height: 400px;
  width: 400px;
}
@media screen and (max-width: 943px) {
  .profilePage .bottom .mywrapper .imgContainer {
    display: none;
  }
}/*# sourceMappingURL=EditProfile.css.map */